.rental-pickup-only {
    background-color: #d1ecf1 !important;
    border-color: #17a2b8 !important;
    z-index: 1 !important;
    position: relative !important;
}

.rental-return-only {
    background-color: #fff3cd !important;
    border-color: #ffc107 !important;
    z-index: 1 !important;
    position: relative !important;
}